@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #25225a;
  --primary: #25225a;
  --secondary: #891717;
  --tertiary: #ebc471;
  --neutral: #9297b0;
  --neutral-dark: #84899f;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

html {
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  @apply max-w-screen-lg mx-auto px-7;
}

.page {
  @apply pt-36 pb-20 relative;
}
.carousel-container,
.react-multi-carousel-list {
  height: 100% !important;
}

.carousel-item {
  height: 100%;
}

.react-multi-carousel-track {
  height: 100%;
}

.react-multi-carousel-item {
  height: 100%;
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
